main {
    display: grid;
    gap: 20px;
    grid-auto-flow: dense;
    margin: 5%;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Título principal */
h1 {
    text-align: center;
    font-size: 4.5em;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 10px;
    text-shadow: -1px -1px #ddd;
}

/* Sección "Magic" */
main h2 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    background-image: linear-gradient(to right, #575757, #000000);
    -webkit-background-clip: text;
    color: transparent;
}

p {
    text-align: justify;
    font-size: 1.3em;
    margin: 10%
}
